@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div>

    <ul class="list-group">
        @if (Model != null)
        {
            <li class="list-group-item">
                Membership Type: @Model.MembershipType.MembershipName
            </li>

            if (@Model.BirthDay != null)
            {
                <li class="list-group-item">
                    Birthdate: @Model.BirthDay.Value.ToShortDateString() 
                </li>
            }
        }
    </ul>

</div>
